{% load static %}
<html>
    <head>
        <title>Blog Wellington Marinho</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>



    	<nav class="navbar navbar-dark bg-dark sticky-top" id="blog_header">
    		<h1><a class="navbar-light"  href="/">Blog Wellington Marinho</a></h1>
    		<form class="form-inline my-auto">
    			<input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    			<button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit">Pesquisar</button>

    			<!-- Collapse button -->
			<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
			class="fas fa-bars fa-1x"></i></span></button>
			</form>

			<!-- Collapsible content -->

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">

			    <!-- Links -->
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Features</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Pricing</a>
			      </li>
			    </ul>
		    <!-- Links -->

  			 

    		
    	</nav>




        <div class="content container">
		    <div class="row">
		    	

		        <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		        </div>
		    </div>
		</div>

		  	<!-- Footer -->
		<footer class="page-footer font-small blue">

		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-3">© 2020 Copyright:
		    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
		  </div>
		  <!-- Copyright -->

		</footer>
		<!-- Footer -->



    </body>


 
</html>