

{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
  <div class="col-md-12 col-lg-8 main-content">

      <div class="row">

    {% for post in posts %}
      <div class="col-md-6">
        <a class="blog-entry element-animate" data-animate-effect="fadeIn" href="{% url 'post_detail' pk=post.pk %}">
          <img src="/media/{{ post.photo }}" alt="Image placeholder">
          <div class="blog-content-body">
            <div class="post-meta">
              <span class="date">{{ post.published_date }}</span>
              <h2>{{ post.title }}</h2>
            </div>
          </div>

        </a>
      </div>
    {% endfor %}

    </div>
  </div>

{% endblock %}

