{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <div class="col-md-12 col-lg-8 main-content">
            <img src="{% static 'images/eu.jpeg' %}" alt="Image" class="img-fluid mb-5">
            <h1 class="mb-4">Oi eu sou o Wellington</h1>           
            <div class="post-content-body">
            <p>Sou apaixonado pela natureza. Adoro fotografar belas paisagens e animais em seu habitat natural. </p>

            <p>Nas minhas caminhadas pelo litoral, busco fotografar praias mais selvagens e sempre me surpreendo com a beleza das falésias e rochas exóticas junto ao oceano.</p>

            <p>Distante do litoral, no interior das matas, o que me atrai é a diversidade dos pequenos animais (especialmente aves e insetos pouco conhecidos). Nessas caminhadas sempre me deparo também com cachoeiras ou quedas d`água fascinanentes</p>

            </div>
    </div>
{% endblock %}

{% block carrousel %}
{% endblock %}

{% block head %}
{% endblock %}
